/* Estilos para pantallas grandes */
.cian{
    background-color:#49b9ea !important
}
.menuFooter{
    font-size: 2rem;
    overflow: hidden;
    color: #fff;
    background-color: #49b9ea;
    font-weight: 500;
    text-decoration: none;
    
}
.copyText{
    font-size: 1rem;
}
.flex-row-container {
    color: #fff;
    font-size: 2rem;
    padding: 1.5rem;
    text-decoration: none;
    background-color:#49b9ea !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-row-container > .flex-row-item {
    flex: 1 1 30%; 
    height: 5vh;
    
}

.flex-row-item {
    background-color:#49b9ea !important;
    overflow: initial;
}
@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
    .menuFooter {
      font-size: 1.5rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
  
    .copyText {
      font-size: 0.8rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
  
    .flex-row-container {
      font-size: 1.5rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
  
    .flex-row-container > .flex-row-item {
      flex: 1 1 100%; /* Ocupar todo el ancho en pantallas pequeñas */
      height: auto; /* Ajusta la altura automáticamente en pantallas pequeñas */
    }
  
    /* Otros ajustes de estilo para pantallas pequeñas si es necesario */
  }